/* screen - blog-landing */

.blog-landing {
  background-color: var(--black);
  height: 1464px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.blog-landing .background-BP7w0B {
  background: linear-gradient(180deg, rgb(33.63698065280914, 56.85809701681137, 139.18750405311584) 0%, rgba(0, 0, 0, 0) 62.5%);
  background-color: transparent;
  height: 1464px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.blog-landing .image-11-BP7w0B {
  background-color: transparent;
  cursor: pointer;
  height: 156px;
  left: 360px;
  mix-blend-mode: normal;
  position: absolute;
  top: 573px;
  width: 293px;
}

.blog-landing .footerlinks-BP7w0B {
  background-color: transparent;
  height: 278px;
  left: -1px;
  position: absolute;
  top: 1186px;
  width: 1921px;
}

.blog-landing .footer-uxgemT {
  background: linear-gradient(180deg, rgba(5.020313411951065, 13.124544192105532, 86.06250151991844, 0.6800000071525574) 42.1875%, rgb(51.70390158891678, 70.86473822593689, 243.31249594688416) 90.625%);
  background-color: transparent;
  height: 184px;
  left: 1px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 94px;
  width: 1920px;
}

.blog-landing .frame-1-IBx6Nz {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 106px;
  height: min-content;
  justify-content: center;
  left: 498px;
  position: relative;
  top: 10px;
  width: min-content;
}

.blog-landing .art-jfDDk8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-landing .use-mimicry-U3CqJE {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 36px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-landing .featured-art-U3CqJE {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 91px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .artist-spotlight-U3CqJE {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 111px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .external-connections-U3CqJE {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 155px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .art-in-the-news-U3CqJE {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 115px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .use-mimicry-jfDDk8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-landing .use-mimicry-K0KzLR {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 100px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-landing .draw-with-mimicry-K0KzLR {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 162px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .importing-external-data-K0KzLR {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 175px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .mimicry-functions-K0KzLR {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 152px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .generating-nf-ts-K0KzLR {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 125px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .use-mimicry-FeHaqg {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-landing .use-mimicry-pf7azt {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 119px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-landing .understanding-persistence-pf7azt {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 191px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .code-docs-pf7azt {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 79px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .best-practices-pf7azt {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 101px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .code-examples-pf7azt {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 113px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .general-jfDDk8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-landing .general-X390Zj {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-landing .about-us-X390Zj {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .road-map-X390Zj {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .careers-X390Zj {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .blog-X390Zj {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 35px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .community_links-uxgemT {
  background-color: var(--gulf-blue);
  box-shadow: inset 0px 0px 4px 5px #ffffff99;
  height: 94px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.blog-landing .frame-1-Qszfz8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 120px;
  height: min-content;
  justify-content: center;
  left: 473px;
  position: relative;
  top: 21px;
  width: min-content;
}

.blog-landing .twitter-an8xV5 {
  background-color: transparent;
  height: 41px;
  min-width: 147px;
  position: relative;
}

.blog-landing .image-1-tG4jZI {
  background-color: transparent;
  height: 41px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 40px;
}

.blog-landing .twitter-tG4jZI {
  background-color: transparent;
  height: 24px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 122px;
}

.blog-landing .reddit-an8xV5 {
  background-color: transparent;
  height: 42px;
  min-width: 150px;
  position: relative;
}

.blog-landing .reddit-FZ1xhs {
  background-color: transparent;
  height: 24px;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.blog-landing .image-2-FZ1xhs {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 41px;
}

.blog-landing .github-an8xV5 {
  background-color: transparent;
  height: 46px;
  min-width: 157px;
  position: relative;
}

.blog-landing .github-XGPExn {
  background-color: transparent;
  height: 24px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.blog-landing .image-3-XGPExn {
  background-color: transparent;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 51px;
}

.blog-landing .telegram-an8xV5 {
  background-color: transparent;
  height: 42px;
  margin-right: -2px;
  min-width: 168px;
  position: relative;
}

.blog-landing .telegram-gPxLo1 {
  background-color: transparent;
  height: 24px;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.blog-landing .image-4-gPxLo1 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 54px;
}

.blog-landing .image-5-BP7w0B {
  background-color: transparent;
  cursor: pointer;
  height: 156px;
  left: 360px;
  mix-blend-mode: normal;
  position: absolute;
  top: 304px;
  width: 289px;
}

.blog-landing .updates-about-the-fi-BP7w0B {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 175px;
  width: auto;
}

.blog-landing .the-infinite-animation-blog-BP7w0B {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-jomolhari);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  height: 72px;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 103px;
  width: auto;
}

.blog-landing .image-6-BP7w0B {
  background-color: transparent;
  cursor: pointer;
  height: 156px;
  left: 716px;
  mix-blend-mode: normal;
  position: absolute;
  top: 304px;
  width: 289px;
}

.blog-landing .image-8-BP7w0B {
  background-color: transparent;
  cursor: pointer;
  height: 156px;
  left: 1072px;
  mix-blend-mode: normal;
  position: absolute;
  top: 304px;
  width: 289px;
}

.blog-landing .image-10-BP7w0B {
  background-color: transparent;
  cursor: pointer;
  height: 156px;
  left: 716px;
  mix-blend-mode: normal;
  position: absolute;
  top: 573px;
  width: 289px;
}

.blog-landing .img_20220726_123006-1-BP7w0B {
  background-color: transparent;
  height: 254px;
  left: 1160px;
  mix-blend-mode: screen;
  position: absolute;
  top: 651px;
  width: 583px;
}

.blog-landing .header-BP7w0B {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 4px 6px 4px #0000004c;
  display: flex;
  gap: 84px;
  height: min-content;
  left: 0px;
  mix-blend-mode: normal;
  padding: 12px 27px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.blog-landing .header-links-Nq0ol7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 44px;
  height: 52px;
  position: relative;
  width: 785px;
}

.blog-landing .mimicry-vdKPM0 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 144px;
}

.blog-landing .infinite-animation-vdKPM0 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 167px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .nft-vdKPM0 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 43px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .featured-art-vdKPM0 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .blog-vdKPM0 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 44px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .wiki-vdKPM0 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .text-Nq0ol7 {
  background-color: transparent;
  flex: 1;
  height: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-landing .draw_button-Nq0ol7 {
  align-items: center;
  background-color: var(--moon-raker);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 10px;
  height: 52px;
  justify-content: flex-end;
  mix-blend-mode: darken;
  padding: 10px 50px;
  position: relative;
  width: 168px;
}

.blog-landing .draw-Q38WXr {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}
