/* screen - blog-5-security */

.blog-5-security {
  background-color: var(--black);
  height: 2066px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.blog-5-security .blog-5-security-pvmtZU {
  background: linear-gradient(180deg, rgb(33.63698065280914, 56.85809701681137, 139.18750405311584) 0%, rgba(0, 0, 0, 0) 62.5%);
  background-color: transparent;
  height: 2066px;
  left: -0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.blog-5-security .footerlinks-pvmtZU {
  background-color: transparent;
  height: 278px;
  left: -1px;
  position: absolute;
  top: 1788px;
  width: 1921px;
}

.blog-5-security .footer-qJGv2j {
  background: linear-gradient(180deg, rgba(5.020313411951065, 13.124544192105532, 86.06250151991844, 0.6800000071525574) 42.1875%, rgb(51.70390158891678, 70.86473822593689, 243.31249594688416) 90.625%);
  background-color: transparent;
  height: 184px;
  left: 1px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 94px;
  width: 1920px;
}

.blog-5-security .frame-1-sH0rFo {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 106px;
  height: min-content;
  justify-content: center;
  left: 518px;
  position: relative;
  top: 10px;
  width: min-content;
}

.blog-5-security .art-hkfyLh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-5-security .use-mimicry-Mhsg3M {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 36px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-5-security .featured-art-Mhsg3M {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 91px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .artist-spotlight-Mhsg3M {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 111px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .art-in-the-news-Mhsg3M {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 115px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .blog-Mhsg3M {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 35px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .use-mimicry-hkfyLh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-5-security .use-mimicry-DjblyN {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 100px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-5-security .draw-with-mimicry-DjblyN {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 162px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .importing-external-data-DjblyN {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 175px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .mimicry-functions-DjblyN {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 152px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .generating-nf-ts-DjblyN {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 125px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .use-mimicry-TND0gD {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-5-security .use-mimicry-iOxoKu {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 119px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-5-security .understanding-persistence-iOxoKu {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 191px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .code-docs-iOxoKu {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 79px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .best-practices-iOxoKu {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 101px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .code-examples-iOxoKu {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 113px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .general-hkfyLh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-5-security .general-Ot8wLx {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-5-security .about-us-Ot8wLx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .road-map-Ot8wLx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .careers-Ot8wLx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .disclosures-Ot8wLx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .community_links-qJGv2j {
  background-color: var(--gulf-blue);
  box-shadow: inset 0px 0px 4px 5px #ffffff99;
  height: 94px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.blog-5-security .frame-1-4RpRMz {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 120px;
  height: min-content;
  justify-content: center;
  left: 473px;
  position: relative;
  top: 21px;
  width: min-content;
}

.blog-5-security .twitter-ZNBnCt {
  background-color: transparent;
  height: 41px;
  min-width: 147px;
  position: relative;
}

.blog-5-security .image-1-x7zPQ3 {
  background-color: transparent;
  height: 41px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 40px;
}

.blog-5-security .twitter-x7zPQ3 {
  background-color: transparent;
  height: 24px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 122px;
}

.blog-5-security .reddit-ZNBnCt {
  background-color: transparent;
  height: 42px;
  min-width: 150px;
  position: relative;
}

.blog-5-security .reddit-mxpoWl {
  background-color: transparent;
  height: 24px;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.blog-5-security .image-2-mxpoWl {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 41px;
}

.blog-5-security .github-ZNBnCt {
  background-color: transparent;
  height: 46px;
  min-width: 157px;
  position: relative;
}

.blog-5-security .github-8oHrQd {
  background-color: transparent;
  height: 24px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.blog-5-security .image-3-8oHrQd {
  background-color: transparent;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 51px;
}

.blog-5-security .telegram-ZNBnCt {
  background-color: transparent;
  height: 42px;
  margin-right: -2px;
  min-width: 168px;
  position: relative;
}

.blog-5-security .telegram-dJ4CtX {
  background-color: transparent;
  height: 24px;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.blog-5-security .image-4-dJ4CtX {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 54px;
}

.blog-5-security .blog-photo-pvmtZU {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 209px;
  width: 1198px;
}

.blog-5-security .steven-parad-20220726-pvmtZU {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 176px;
  width: 331px;
}

.blog-5-security .maintaining-personal-pvmtZU {
  background-color: transparent;
  height: 53px;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 123px;
  width: auto;
}

.blog-5-security .header-pvmtZU {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 4px 6px 4px #0000004c;
  display: flex;
  gap: 84px;
  height: min-content;
  left: 0px;
  mix-blend-mode: normal;
  padding: 12px 27px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.blog-5-security .header-links-L8uxay {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 44px;
  height: 52px;
  position: relative;
  width: 785px;
}

.blog-5-security .mimicry-yJ2NgM {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 144px;
}

.blog-5-security .infinite-animation-yJ2NgM {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 167px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .nft-yJ2NgM {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 43px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .featured-art-yJ2NgM {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .blog-yJ2NgM {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 44px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .wiki-yJ2NgM {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .text-L8uxay {
  background-color: transparent;
  flex: 1;
  height: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .draw_button-L8uxay {
  align-items: center;
  background-color: var(--moon-raker);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 10px;
  height: 52px;
  justify-content: flex-end;
  mix-blend-mode: darken;
  padding: 10px 50px;
  position: relative;
  width: 168px;
}

.blog-5-security .draw-f5OOaD {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-5-security .body-pvmtZU {
  background-color: transparent;
  height: auto;
  left: 356px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 308px;
  width: 1200px;
}

.blog-5-security .having-2-fa-and-ther-pvmtZU {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 700;
  height: auto;
  left: 356px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 699px;
  width: 1200px;
}

.blog-5-security .group-26-pvmtZU {
  background-color: transparent;
  height: 89px;
  left: 356px;
  position: absolute;
  top: 734px;
  width: 1204px;
}

.blog-5-security .unfortunately-there-Eod0HI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 21px;
  width: 1200px;
}

.blog-5-security .solutions-Eod0HI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 271px;
}

.blog-5-security .group-23-pvmtZU {
  background-color: transparent;
  height: 70px;
  left: 356px;
  position: absolute;
  top: 840px;
  width: 1204px;
}

.blog-5-security .i-was-sad-to-find-ou-xnbEVI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 19px;
  width: 1200px;
}

.blog-5-security .securing-your-browser-xnbEVI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 269px;
}

.blog-5-security .group-24-pvmtZU {
  background-color: transparent;
  height: 327px;
  left: 356px;
  position: absolute;
  top: 927px;
  width: 1204px;
}

.blog-5-security .the-first-and-most-i-d2kphg {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 21px;
  width: 1200px;
}

.blog-5-security .securing-the-os-better-d2kphg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 282px;
}

.blog-5-security .group-25-pvmtZU {
  background-color: transparent;
  height: 377px;
  left: 356px;
  position: absolute;
  top: 1271px;
  width: 1204px;
}

.blog-5-security .this-2-desktop-setup-oz5syG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 20px;
  width: 1200px;
}

.blog-5-security .on-the-go-oz5syG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 273px;
}

.blog-5-security .img_20220726_123006-1-pvmtZU {
  background-color: transparent;
  height: 335px;
  left: 11px;
  mix-blend-mode: screen;
  position: fixed;
  top: 90px;
  width: 565px;
}
