/* screen - blog-4-understanding-ia */

.blog-4-understanding-ia {
  background-color: var(--black);
  height: 1561px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.blog-4-understanding-ia .background-dxSYxB {
  background: linear-gradient(180deg, rgb(33.63698065280914, 56.85809701681137, 139.18750405311584) 0%, rgba(0, 0, 0, 0) 62.5%);
  background-color: transparent;
  height: 1561px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.blog-4-understanding-ia .for-artists-dxSYxB {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 351px;
  width: 192px;
}

.blog-4-understanding-ia .for-collectors-dxSYxB {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 706px;
  width: 192px;
}

.blog-4-understanding-ia .footerlinks-dxSYxB {
  background-color: transparent;
  height: 278px;
  left: -1px;
  position: absolute;
  top: 1283px;
  width: 1921px;
}

.blog-4-understanding-ia .footer-Tu9VIW {
  background: linear-gradient(180deg, rgba(5.020313411951065, 13.124544192105532, 86.06250151991844, 0.6800000071525574) 42.1875%, rgb(51.70390158891678, 70.86473822593689, 243.31249594688416) 90.625%);
  background-color: transparent;
  height: 184px;
  left: 1px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 94px;
  width: 1920px;
}

.blog-4-understanding-ia .frame-1-VuXsa1 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 106px;
  height: min-content;
  justify-content: center;
  left: 498px;
  position: relative;
  top: 10px;
  width: min-content;
}

.blog-4-understanding-ia .art-LdQ4rq {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-4-understanding-ia .use-mimicry-2f7td8 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 36px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-4-understanding-ia .featured-art-2f7td8 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 91px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .artist-spotlight-2f7td8 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 111px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .external-connections-2f7td8 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 155px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .art-in-the-news-2f7td8 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 115px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .use-mimicry-LdQ4rq {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-4-understanding-ia .use-mimicry-Dyr3kB {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 100px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-4-understanding-ia .draw-with-mimicry-Dyr3kB {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 162px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .importing-external-data-Dyr3kB {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 175px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .mimicry-functions-Dyr3kB {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 152px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .generating-nf-ts-Dyr3kB {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 125px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .use-mimicry-WfpYP7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-4-understanding-ia .use-mimicry-50xFuK {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 119px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-4-understanding-ia .understanding-persistence-50xFuK {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 191px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .code-docs-50xFuK {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 79px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .best-practices-50xFuK {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 101px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .code-examples-50xFuK {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 113px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .general-LdQ4rq {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.blog-4-understanding-ia .general-0CEzwj {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.blog-4-understanding-ia .about-us-0CEzwj {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .road-map-0CEzwj {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .careers-0CEzwj {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .blog-0CEzwj {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 35px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .community_links-Tu9VIW {
  background-color: var(--gulf-blue);
  box-shadow: inset 0px 0px 4px 5px #ffffff99;
  height: 94px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.blog-4-understanding-ia .frame-1-OzUMkp {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 120px;
  height: min-content;
  justify-content: center;
  left: 473px;
  position: relative;
  top: 21px;
  width: min-content;
}

.blog-4-understanding-ia .twitter-m3lC8r {
  background-color: transparent;
  height: 41px;
  min-width: 147px;
  position: relative;
}

.blog-4-understanding-ia .image-1-DEioGc {
  background-color: transparent;
  height: 41px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 40px;
}

.blog-4-understanding-ia .twitter-DEioGc {
  background-color: transparent;
  height: 24px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 122px;
}

.blog-4-understanding-ia .reddit-m3lC8r {
  background-color: transparent;
  height: 42px;
  min-width: 150px;
  position: relative;
}

.blog-4-understanding-ia .reddit-4m7qxs {
  background-color: transparent;
  height: 24px;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.blog-4-understanding-ia .image-2-4m7qxs {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 41px;
}

.blog-4-understanding-ia .github-m3lC8r {
  background-color: transparent;
  height: 46px;
  min-width: 157px;
  position: relative;
}

.blog-4-understanding-ia .github-Qb8Tlh {
  background-color: transparent;
  height: 24px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.blog-4-understanding-ia .image-3-Qb8Tlh {
  background-color: transparent;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 51px;
}

.blog-4-understanding-ia .telegram-m3lC8r {
  background-color: transparent;
  height: 42px;
  margin-right: -2px;
  min-width: 168px;
  position: relative;
}

.blog-4-understanding-ia .telegram-vn60kQ {
  background-color: transparent;
  height: 24px;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.blog-4-understanding-ia .image-4-vn60kQ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 54px;
}

.blog-4-understanding-ia .collector_text-dxSYxB {
  background-color: transparent;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 731px;
  width: 1180px;
}

.blog-4-understanding-ia .artist_text-dxSYxB {
  background-color: transparent;
  height: auto;
  left: 380px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 376px;
  width: 1181px;
}

.blog-4-understanding-ia .body-dxSYxB {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 308px;
  width: 1200px;
}

.blog-4-understanding-ia .body-0CZX7x {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1098px;
  width: 1200px;
}

.blog-4-understanding-ia .blog-photo-dxSYxB {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 209px;
  width: 1198px;
}

.blog-4-understanding-ia .steven-parad-20220726-dxSYxB {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 176px;
  width: 331px;
}

.blog-4-understanding-ia .understanding-infini-dxSYxB {
  background-color: transparent;
  height: 53px;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 123px;
  width: auto;
}

.blog-4-understanding-ia .img_20220726_123006-1-dxSYxB {
  background-color: transparent;
  height: 335px;
  left: 1502px;
  mix-blend-mode: screen;
  position: absolute;
  top: 801px;
  width: 418px;
}

.blog-4-understanding-ia .header-dxSYxB {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 4px 6px 4px #0000004c;
  display: flex;
  gap: 84px;
  height: min-content;
  left: 0px;
  mix-blend-mode: normal;
  padding: 12px 27px;
  position: absolute;
  top: -0px;
  width: 1920px;
}

.blog-4-understanding-ia .header-links-HBHEuY {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 44px;
  height: 52px;
  position: relative;
  width: 785px;
}

.blog-4-understanding-ia .mimicry-3EZFwr {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 144px;
}

.blog-4-understanding-ia .infinite-animation-3EZFwr {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 167px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .nft-3EZFwr {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 43px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .featured-art-3EZFwr {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .blog-3EZFwr {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 44px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .wiki-3EZFwr {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .text-HBHEuY {
  background-color: transparent;
  flex: 1;
  height: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.blog-4-understanding-ia .draw_button-HBHEuY {
  align-items: center;
  background-color: var(--moon-raker);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 10px;
  height: 52px;
  justify-content: flex-end;
  mix-blend-mode: darken;
  padding: 10px 50px;
  position: relative;
  width: 168px;
}

.blog-4-understanding-ia .draw-hDBZh9 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}
