/* screen - disclosures */

.disclosures {
  background-color: var(--black);
  height: 1373px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.disclosures .background-q6xF1G {
  background-color: transparent;
  height: 954px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.disclosures .infinite-animation-a-q6xF1G {
  background-color: transparent;
  height: auto;
  left: 200px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 283px;
  width: 1301px;
}

.disclosures .disclosures-q6xF1G {
  background-color: transparent;
  height: auto;
  left: 159px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 167px;
  width: auto;
}

.disclosures .community_links-q6xF1G {
  background-color: var(--gulf-blue);
  box-shadow: inset 0px 0px 4px 5px #ffffff99;
  height: 94px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1095px;
  width: 1920px;
}

.disclosures .frame-1-1KLqNy {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 120px;
  height: min-content;
  justify-content: center;
  left: 473px;
  position: relative;
  top: 21px;
  width: min-content;
}

.disclosures .twitter-jVay0x {
  background-color: transparent;
  height: 41px;
  min-width: 147px;
  position: relative;
}

.disclosures .image-1-kfK2Mb {
  background-color: transparent;
  height: 41px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 40px;
}

.disclosures .twitter-kfK2Mb {
  background-color: transparent;
  height: 24px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 122px;
}

.disclosures .reddit-jVay0x {
  background-color: transparent;
  height: 42px;
  min-width: 150px;
  position: relative;
}

.disclosures .reddit-bXwVAs {
  background-color: transparent;
  height: 24px;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.disclosures .image-2-bXwVAs {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 41px;
}

.disclosures .github-jVay0x {
  background-color: transparent;
  height: 46px;
  min-width: 157px;
  position: relative;
}

.disclosures .github-rHxyF8 {
  background-color: transparent;
  height: 24px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.disclosures .image-3-rHxyF8 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 51px;
}

.disclosures .telegram-jVay0x {
  background-color: transparent;
  height: 42px;
  margin-right: -2px;
  min-width: 168px;
  position: relative;
}

.disclosures .telegram-5f1Spd {
  background-color: transparent;
  height: 24px;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.disclosures .image-4-5f1Spd {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 54px;
}

.disclosures .footer-q6xF1G {
  background: linear-gradient(180deg, rgba(5.020313411951065, 13.124544192105532, 86.06250151991844, 0.6800000071525574) 42.1875%, rgb(51.70390158891678, 70.86473822593689, 243.31249594688416) 90.625%);
  background-color: transparent;
  height: 184px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1189px;
  width: 1920px;
}

.disclosures .frame-1-wM011x {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 106px;
  height: min-content;
  justify-content: center;
  left: 518px;
  position: relative;
  top: 10px;
  width: min-content;
}

.disclosures .art-jisBU5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.disclosures .use-mimicry-xxzNvz {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 36px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.disclosures .featured-art-xxzNvz {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 91px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .artist-spotlight-xxzNvz {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 111px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .art-in-the-news-xxzNvz {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 115px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .blog-xxzNvz {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 35px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .use-mimicry-jisBU5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.disclosures .use-mimicry-UzjKM2 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 100px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.disclosures .draw-with-mimicry-UzjKM2 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 162px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .importing-external-data-UzjKM2 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 175px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .mimicry-functions-UzjKM2 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 152px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .generating-nf-ts-UzjKM2 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 125px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .use-mimicry-NCst4x {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.disclosures .use-mimicry-k9QAni {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 119px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.disclosures .understanding-persistence-k9QAni {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 191px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .code-docs-k9QAni {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 79px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .best-practices-k9QAni {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 101px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .code-examples-k9QAni {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 113px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .general-jisBU5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.disclosures .general-YTupFR {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.disclosures .about-us-YTupFR {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .road-map-YTupFR {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .careers-YTupFR {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .disclosures-YTupFR {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .header-q6xF1G {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 4px 6px 4px #0000004c;
  display: flex;
  gap: 84px;
  height: min-content;
  left: 0px;
  mix-blend-mode: normal;
  padding: 12px 27px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.disclosures .header-links-sJPA2B {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 44px;
  height: 52px;
  position: relative;
  width: 785px;
}

.disclosures .mimicry-VlnOQo {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 144px;
}

.disclosures .infinite-animation-VlnOQo {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 167px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .nft-VlnOQo {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 43px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .featured-art-VlnOQo {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .blog-VlnOQo {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 44px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .wiki-VlnOQo {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .text-sJPA2B {
  background-color: transparent;
  flex: 1;
  height: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .draw_button-sJPA2B {
  align-items: center;
  background-color: var(--moon-raker);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 10px;
  height: 52px;
  justify-content: flex-end;
  mix-blend-mode: darken;
  padding: 10px 50px;
  position: relative;
  width: 168px;
}

.disclosures .draw-V2Qia1 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.disclosures .img_20220726_123006-1-q6xF1G {
  background-color: transparent;
  height: 334px;
  left: 1269px;
  mix-blend-mode: screen;
  position: absolute;
  top: 668px;
  width: 565px;
}
