/* screen - home */

.home {
  background-color: transparent;
  height: 2156px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.home .background-template-xl4bh6 {
  background: linear-gradient(180deg, rgb(34.00000177323818, 57.00000040233135, 139.0000069141388) 0%, rgb(0, 0, 0) 30.72916567325592%);
  background-color: transparent;
  height: 2156px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.home .community_links-xl4bh6 {
  background-color: var(--gulf-blue);
  box-shadow: inset 0px 0px 4px 5px #ffffff99;
  height: 92px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1880px;
  width: 1920px;
}

.home .frame-1-89BcJo {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 120px;
  height: min-content;
  justify-content: center;
  left: 473px;
  position: relative;
  top: 21px;
  width: min-content;
}

.home .twitter-Fa75Zd {
  background-color: transparent;
  height: 41px;
  min-width: 147px;
  position: relative;
}

.home .image-1-uIA5fc {
  background-color: transparent;
  height: 41px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 40px;
}

.home .twitter-uIA5fc {
  background-color: transparent;
  height: 24px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 122px;
}

.home .reddit-Fa75Zd {
  background-color: transparent;
  height: 42px;
  min-width: 150px;
  position: relative;
}

.home .reddit-H9pJ45 {
  background-color: transparent;
  height: 24px;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.home .image-2-H9pJ45 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 41px;
}

.home .github-Fa75Zd {
  background-color: transparent;
  height: 46px;
  min-width: 157px;
  position: relative;
}

.home .github-42Su3Z {
  background-color: transparent;
  height: 24px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.home .image-3-42Su3Z {
  background-color: transparent;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 51px;
}

.home .telegram-Fa75Zd {
  background-color: transparent;
  height: 42px;
  margin-right: -2px;
  min-width: 168px;
  position: relative;
}

.home .telegram-C7Hmki {
  background-color: transparent;
  height: 24px;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.home .image-4-C7Hmki {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 54px;
}

.home .footer-xl4bh6 {
  background: linear-gradient(180deg, rgba(5.020313411951065, 13.124544192105532, 86.06250151991844, 0.6800000071525574) 42.1875%, rgb(51.70390158891678, 70.86473822593689, 243.31249594688416) 90.625%);
  background-color: transparent;
  height: 184px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1972px;
  width: 1920px;
}

.home .frame-1-peWZqm {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 106px;
  height: min-content;
  justify-content: center;
  left: 498px;
  position: relative;
  top: 10px;
  width: min-content;
}

.home .art-5AMxk5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.home .use-mimicry-olPpSl {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 36px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.home .featured-art-olPpSl {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 91px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .artist-spotlight-olPpSl {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 111px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .external-connections-olPpSl {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 155px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .art-in-the-news-olPpSl {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 115px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .use-mimicry-5AMxk5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.home .use-mimicry-T6XarJ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 100px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.home .draw-with-mimicry-T6XarJ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 162px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .importing-external-data-T6XarJ {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 175px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .mimicry-functions-T6XarJ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 152px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .generating-nf-ts-T6XarJ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 125px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .use-mimicry-CHTA5w {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.home .use-mimicry-iX4dgx {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 119px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.home .understanding-persistence-iX4dgx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 191px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .code-docs-iX4dgx {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 79px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .best-practices-iX4dgx {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 101px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .code-examples-iX4dgx {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 113px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .general-5AMxk5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.home .general-hzFZSE {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.home .about-us-hzFZSE {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .road-map-hzFZSE {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .careers-hzFZSE {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .blog-hzFZSE {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 35px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .mimicry-is-the-first-xl4bh6 {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 349px;
  width: 1200px;
}

.home .realtime-rendering-s-xl4bh6 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-kaushan_script);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 594px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 254px;
  width: auto;
}

.home .infinite-animation-t-xl4bh6 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 455px;
  width: 1200px;
}

.home .flexible-interface-xl4bh6 {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1289px;
  width: auto;
}

.home .mimicry-provides-a-s-xl4bh6 {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1349px;
  width: 1200px;
}

.home .final-export-is-alwa-xl4bh6 {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1668px;
  width: 1200px;
}

.home .export-to-html-xl4bh6 {
  background-color: transparent;
  height: auto;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1607px;
  width: auto;
}

.home .group-1-xl4bh6 {
  background-color: transparent;
  height: 251px;
  left: 360px;
  position: absolute;
  top: 590px;
  width: 1204px;
}

.home .envisioning-real-time-data-UlqJaJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: auto;
}

.home .one-of-the-most-obvi-UlqJaJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 1200px;
}

.home .group-2-xl4bh6 {
  background-color: transparent;
  height: 340px;
  left: 360px;
  position: absolute;
  top: 870px;
  width: 1204px;
}

.home .built-in-support-for-nf-ts-acGtbQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 760px;
}

.home .mimicry-is-built-fro-acGtbQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 1200px;
}

.home .line-3-xl4bh6 {
  background-color: transparent;
  height: 7px;
  left: 360px;
  position: absolute;
  top: 577px;
  width: 1262px;
}

.home .line-4-xl4bh6 {
  background-color: transparent;
  height: 3px;
  left: 360px;
  position: absolute;
  top: 857px;
  width: 1262px;
}

.home .line-5-xl4bh6 {
  background-color: transparent;
  height: 3px;
  left: 360px;
  position: absolute;
  top: 1277px;
  width: 1262px;
}

.home .line-6-xl4bh6 {
  background-color: transparent;
  height: 3px;
  left: 360px;
  position: absolute;
  top: 1597px;
  width: 1262px;
}

.home .rectangle-5-xl4bh6 {
  background-color: var(--white);
  height: 152px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 100px;
  width: 1920px;
}

.home .recording_202207281743-1-xl4bh6 {
  background-color: transparent;
  height: 152px;
  left: 360px;
  mix-blend-mode: normal;
  position: absolute;
  top: 100px;
  width: 1262px;
}

.home .img_20220726_123006-2-xl4bh6 {
  background-color: transparent;
  height: 254px;
  left: 1281px;
  mix-blend-mode: screen;
  position: fixed;
  top: 618px;
  width: 583px;
}

.home .header-xl4bh6 {
  background-color: var(--white);
  box-shadow: 4px 6px 4px #0000004c;
  height: 88px;
  left: 0px;
  mix-blend-mode: normal;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.home .frame-3-PyZBxz {
  background-color: var(--moon-raker);
  box-shadow: 0px 4px 4px #00000040;
  height: 53px;
  left: 1716px;
  mix-blend-mode: darken;
  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 168px;
}

.home .draw-BPpLKZ {
  background-color: transparent;
  height: 32px;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: auto;
}

.home .header-links-PyZBxz {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 44px;
  height: 28px;
  left: 27px;
  position: absolute;
  top: 30px;
  width: min-content;
}

.home .mimicry-eqBpLf {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 144px;
}

.home .infinite-animation-eqBpLf {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: -1px;
  margin-top: -3px;
  min-width: 167px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .nft-eqBpLf {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: -1px;
  margin-top: -3px;
  min-width: 43px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .featured-art-eqBpLf {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: -1px;
  margin-top: -3px;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .blog-eqBpLf {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: -1px;
  margin-top: -3px;
  min-width: 44px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.home .wiki-eqBpLf {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: -1px;
  margin-top: -3px;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}
