/* screen - index */

.index {
  background-color: var(--black);
  height: 2076px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.index .background-template-IO3Fu5 {
  background: linear-gradient(180deg, rgb(34.00000177323818, 57.00000040233135, 139.0000069141388) 0%, rgb(0, 0, 0) 30.72916567325592%);
  background-color: transparent;
  height: 2076px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .community_links-IO3Fu5 {
  background-color: var(--gulf-blue);
  box-shadow: inset 0px 0px 4px 5px #ffffff99;
  height: 92px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1800px;
  width: 1920px;
}

.index .frame-1-CmpvxU {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 120px;
  height: min-content;
  justify-content: center;
  left: 473px;
  position: relative;
  top: 21px;
  width: min-content;
}

.index .twitter-0mvxmX {
  background-color: transparent;
  height: 41px;
  min-width: 147px;
  position: relative;
}

.index .image-1-88GlF9 {
  background-color: transparent;
  height: 41px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 40px;
}

.index .twitter-88GlF9 {
  background-color: transparent;
  height: 24px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 122px;
}

.index .reddit-0mvxmX {
  background-color: transparent;
  height: 42px;
  min-width: 150px;
  position: relative;
}

.index .reddit-Exon5Q {
  background-color: transparent;
  height: 24px;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.index .image-2-Exon5Q {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 41px;
}

.index .github-0mvxmX {
  background-color: transparent;
  height: 46px;
  min-width: 157px;
  position: relative;
}

.index .github-1vBxZY {
  background-color: transparent;
  height: 24px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.index .image-3-1vBxZY {
  background-color: transparent;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 51px;
}

.index .telegram-0mvxmX {
  background-color: transparent;
  height: 42px;
  margin-right: -2px;
  min-width: 168px;
  position: relative;
}

.index .telegram-ppoWxZ {
  background-color: transparent;
  height: 24px;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.index .image-4-ppoWxZ {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 54px;
}

.index .footer-IO3Fu5 {
  background: linear-gradient(180deg, rgba(5.020313411951065, 13.124544192105532, 86.06250151991844, 0.6800000071525574) 42.1875%, rgb(51.70390158891678, 70.86473822593689, 243.31249594688416) 90.625%);
  background-color: transparent;
  height: 184px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1892px;
  width: 1920px;
}

.index .frame-1-6isyAT {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 106px;
  height: min-content;
  justify-content: center;
  left: 518px;
  position: relative;
  top: 10px;
  width: min-content;
}

.index .art-zPKRt3 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.index .use-mimicry-ucav0h {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 36px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.index .featured-art-ucav0h {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 91px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .artist-spotlight-ucav0h {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 111px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .art-in-the-news-ucav0h {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 115px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .blog-ucav0h {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 35px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .use-mimicry-zPKRt3 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.index .use-mimicry-X0zCiI {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 100px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.index .draw-with-mimicry-X0zCiI {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 162px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .importing-external-data-X0zCiI {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 175px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .mimicry-functions-X0zCiI {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 152px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .generating-nf-ts-X0zCiI {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 125px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .use-mimicry-1bxPxh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.index .use-mimicry-SZ4xRd {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 119px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.index .understanding-persistence-SZ4xRd {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 191px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .code-docs-SZ4xRd {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 79px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .best-practices-SZ4xRd {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 101px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .code-examples-SZ4xRd {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 113px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .general-zPKRt3 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.index .general-6jleme {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.index .about-us-6jleme {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .road-map-6jleme {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .careers-6jleme {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .disclosures-6jleme {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .group-18-IO3Fu5 {
  background-color: transparent;
  height: 200px;
  left: 360px;
  position: absolute;
  top: 350px;
  width: 1271px;
}

.index .mimicry-is-the-first-XQ69nU {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 1267px;
}

.index .infinite-animation-t-XQ69nU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 85px;
  width: 1262px;
}

.index .group-14-IO3Fu5 {
  background-color: transparent;
  height: 220px;
  left: 360px;
  position: absolute;
  top: 590px;
  width: 1266px;
}

.index .envisioning-real-time-data-l6pkTk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 394px;
}

.index .one-of-the-most-obvi-l6pkTk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 1262px;
}

.index .line-3-l6pkTk {
  background-color: transparent;
  height: 7px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -3px;
  width: 1262px;
}

.index .group-16-IO3Fu5 {
  background-color: transparent;
  height: 220px;
  left: 360px;
  position: absolute;
  top: 1230px;
  width: 1266px;
}

.index .flexible-interface-ZgRsOv {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: auto;
}

.index .mimicry-provides-a-s-ZgRsOv {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 1262px;
}

.index .line-5-ZgRsOv {
  background-color: transparent;
  height: 3px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -3px;
  width: 1262px;
}

.index .group-17-IO3Fu5 {
  background-color: transparent;
  height: 125px;
  left: 360px;
  position: absolute;
  top: 1528px;
  width: 1266px;
}

.index .final-export-is-alwa-fpL01O {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 61px;
  width: 1262px;
}

.index .export-to-html-fpL01O {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: auto;
}

.index .line-6-fpL01O {
  background-color: transparent;
  height: 3px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -3px;
  width: 1262px;
}

.index .logo-phrase-IO3Fu5 {
  background-color: transparent;
  height: 199px;
  left: 0px;
  position: absolute;
  top: 100px;
  width: 1922px;
}

.index .realtime-rendering-s-bSLCTs {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-kaushan_script);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 594px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 155px;
  width: 733px;
}

.index .rectangle-5-bSLCTs {
  background-color: var(--white);
  height: 152px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .recording_202207281743-1-bSLCTs {
  background-color: transparent;
  height: 152px;
  left: 360px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1262px;
}

.index .group-15-IO3Fu5 {
  background-color: transparent;
  height: 295px;
  left: 360px;
  position: absolute;
  top: 870px;
  width: 1268px;
}

.index .built-in-support-for-nf-ts-CsB1PH {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 800px;
}

.index .mimicry-is-built-fro-CsB1PH {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: 1262px;
}

.index .line-4-CsB1PH {
  background-color: transparent;
  height: 3px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -3px;
  width: 1262px;
}

.index .how-nf-ts-are-owned-CsB1PH {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 133px;
  width: 551px;
}

.index .header-IO3Fu5 {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 4px 6px 4px #0000004c;
  display: flex;
  gap: 84px;
  height: min-content;
  left: 0px;
  mix-blend-mode: normal;
  padding: 12px 27px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .header-links-74EEvB {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 44px;
  height: 52px;
  position: relative;
  width: 785px;
}

.index .mimicry-TR0yvv {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 144px;
}

.index .infinite-animation-TR0yvv {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 167px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .nft-TR0yvv {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 43px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .featured-art-TR0yvv {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .blog-TR0yvv {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 44px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .wiki-TR0yvv {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .text-74EEvB {
  background-color: transparent;
  flex: 1;
  height: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .draw_button-74EEvB {
  align-items: center;
  background-color: var(--moon-raker);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 10px;
  height: 52px;
  justify-content: flex-end;
  mix-blend-mode: darken;
  padding: 10px 50px;
  position: relative;
  width: 168px;
}

.index .draw-x1xSAc {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.index .img_20220726_123006-2-IO3Fu5 {
  background-color: transparent;
  height: 254px;
  left: 1278px;
  mix-blend-mode: screen;
  position: fixed;
  top: 435px;
  width: 583px;
}
