/* screen - roadmap-add-2 */

.roadmap-add-2 {
  background-color: var(--black-2);
  height: 1500px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

#overlay-roadmap-add-2 {
  background-color: var(--black-2);
}

.overlay .roadmap-add-2 {
  background-color: #00000000;
}

#overlay-roadmap-add-2 .roadmap-add-2 {
  left: 1103.9998168945312px;
  top: 385.9998321533203px;
}

#overlay-roadmap-add-2 .container-center-horizontal {
  justify-content: normal;
}

.roadmap-add-2 .roadmap-add-2-RdyzK9 {
  background-color: var(--white);
  height: 216px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 649px;
}

.roadmap-add-2 .frame-9-JxSRCl {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 215px;
  justify-content: center;
  left: 135px;
  position: relative;
  top: 1px;
  width: min-content;
}

.roadmap-add-2 .student-outreach-bju2hy {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 380px;
}

.roadmap-add-2 .discord-creation-bju2hy {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 380px;
}

.roadmap-add-2 .hackathon-bju2hy {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 380px;
}

.roadmap-add-2 .online-art-course-bju2hy {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 380px;
}
