:root { 
  --black: #000000;
  --black-2: #00000040;
  --black-haze: #f7f7f7;
  --blue: #3100f6;
  --charade: #282934f2;
  --dove-gray: #6b6b6b;
  --eerie-black: #1e1f25;
  --gulf-blue: #050d56ad;
  --masala: #3f3636;
  --moon-raker: #d6d1f3;
  --oriental-pink: #c69797;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 24px;
  --font-size-xxxxl: 30px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-jomolhari: "Jomolhari", Helvetica;
  --font-family-kaushan_script: "Kaushan Script", Helvetica;
}
.jomolhari-normal-oriental-pink-16px {
  color: var(--oriental-pink);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-dove-gray-20px {
  color: var(--dove-gray);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-oriental-pink-20px {
  color: var(--oriental-pink);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-masala-20px {
  color: var(--masala);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-blue-20px {
  color: var(--blue);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-masala-16px {
  color: var(--masala);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-masala-12px {
  color: var(--masala);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-masala-14px {
  color: var(--masala);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-masala-12px {
  color: var(--masala);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.jomolhari-normal-masala-25px {
  color: var(--masala);
  font-family: var(--font-family-jomolhari);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.inter-bold-masala-14px {
  color: var(--masala);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.jomolhari-normal-masala-30px {
  color: var(--masala);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-masala-24px {
  color: var(--masala);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-masala-18px {
  color: var(--masala);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-masala-50px {
  color: var(--masala);
  font-family: var(--font-family-jomolhari);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-jomolhari);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-masala-48px {
  color: var(--masala);
  font-family: var(--font-family-jomolhari);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.jomolhari-normal-masala-33px {
  color: var(--masala);
  font-family: var(--font-family-jomolhari);
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
}

:root {
}
