/* screen - wiki */

.wiki {
  background-color: var(--black);
  height: 1974px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.wiki .background-hxTmnV {
  background-color: transparent;
  height: 1974px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.wiki .footer-hxTmnV {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: absolute;
  top: 1696px;
  width: 1920px;
}

.wiki .community_links-CfFALy {
  background-color: var(--gulf-blue);
  box-shadow: inset 0px 0px 4px 5px #ffffff99;
  height: 94px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.wiki .frame-1-d8x10D {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 120px;
  height: min-content;
  justify-content: center;
  left: 473px;
  position: relative;
  top: 21px;
  width: min-content;
}

.wiki .twitter-txsJ3n {
  background-color: transparent;
  height: 41px;
  min-width: 147px;
  position: relative;
}

.wiki .image-1-G4QzlT {
  background-color: transparent;
  height: 41px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 40px;
}

.wiki .twitter-G4QzlT {
  background-color: transparent;
  height: 24px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 122px;
}

.wiki .reddit-txsJ3n {
  background-color: transparent;
  height: 42px;
  min-width: 150px;
  position: relative;
}

.wiki .reddit-hD7rGI {
  background-color: transparent;
  height: 24px;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.wiki .image-2-hD7rGI {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 41px;
}

.wiki .github-txsJ3n {
  background-color: transparent;
  height: 46px;
  min-width: 157px;
  position: relative;
}

.wiki .github-0pdW3z {
  background-color: transparent;
  height: 24px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.wiki .image-3-0pdW3z {
  background-color: transparent;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 51px;
}

.wiki .telegram-txsJ3n {
  background-color: transparent;
  height: 42px;
  margin-right: -2px;
  min-width: 168px;
  position: relative;
}

.wiki .telegram-ypRgls {
  background-color: transparent;
  height: 24px;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.wiki .image-4-ypRgls {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 54px;
}

.wiki .footer-CfFALy {
  background: linear-gradient(180deg, rgba(5.020313411951065, 13.124544192105532, 86.06250151991844, 0.6800000071525574) 42.1875%, rgb(51.70390158891678, 70.86473822593689, 243.31249594688416) 90.625%);
  background-color: transparent;
  height: 184px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 94px;
  width: 1920px;
}

.wiki .frame-1-JxKB8v {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 106px;
  height: min-content;
  justify-content: center;
  left: 498px;
  position: relative;
  top: 10px;
  width: min-content;
}

.wiki .art-KAOeyS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.wiki .use-mimicry-kuayx0 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 36px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.wiki .featured-art-kuayx0 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 91px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .artist-spotlight-kuayx0 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 111px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .external-connections-kuayx0 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 155px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .art-in-the-news-kuayx0 {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 115px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .use-mimicry-KAOeyS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.wiki .use-mimicry-eSgHPs {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 100px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.wiki .draw-with-mimicry-eSgHPs {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 162px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .importing-external-data-eSgHPs {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 175px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .mimicry-functions-eSgHPs {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 152px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .generating-nf-ts-eSgHPs {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 125px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .use-mimicry-qDxqw8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.wiki .use-mimicry-xErRgc {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 119px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.wiki .understanding-persistence-xErRgc {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 191px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .code-docs-xErRgc {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 79px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .best-practices-xErRgc {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 101px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .code-examples-xErRgc {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 113px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .general-KAOeyS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.wiki .general-ELms1F {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.wiki .about-us-ELms1F {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .road-map-ELms1F {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .careers-ELms1F {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .blog-ELms1F {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 35px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .frame-3-hxTmnV {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: min-content;
  left: 572px;
  position: absolute;
  top: 132px;
  width: min-content;
}

.wiki .external-data-kQFsBQ {
  background-color: transparent;
  height: 659px;
  margin-right: -4px;
  min-width: 1204px;
  position: relative;
}

.wiki .while-not-required-t-i20xtJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 61px;
  width: 1200px;
}

.wiki .importing-external-data-i20xtJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.wiki .rights-kQFsBQ {
  background-color: transparent;
  height: 206px;
  margin-right: -4px;
  min-width: 1204px;
  position: relative;
}

.wiki .we-are-big-believers-3DDXDF {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 1200px;
}

.wiki .rights-3DDXDF {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.wiki .open-source-kQFsBQ {
  background-color: transparent;
  height: 138px;
  margin-right: -4px;
  min-width: 1204px;
  position: relative;
}

.wiki .we-intend-to-open-so-KOx9kK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 1200px;
}

.wiki .open-source-KOx9kK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.wiki .ensuring-scarcity-kQFsBQ {
  background-color: transparent;
  height: 189.5751953125px;
  margin-right: -4px;
  min-width: 1204px;
  position: relative;
}

.wiki .our-product-protects-2kddzQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 1200px;
}

.wiki .ensuring-scarcity-2kddzQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.wiki .security-kQFsBQ {
  background-color: transparent;
  height: 81px;
  margin-right: -4px;
  min-width: 1204px;
  position: relative;
}

.wiki .individual-tokens-ar-rUBfuO {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: auto;
}

.wiki .security-rUBfuO {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.wiki .spacer-_-5-hxTmnV {
  background-color: transparent;
  height: 40px;
  left: 299px;
  overflow: hidden;
  position: absolute;
  top: 1375px;
  width: 1125px;
}

.wiki .line-20-iq54Zp {
  background-color: transparent;
  height: 1px;
  left: -8249px;
  position: absolute;
  top: -8593px;
  width: 617px;
}

.wiki .spacer-_-4-hxTmnV {
  background-color: transparent;
  height: 40px;
  left: 299px;
  overflow: hidden;
  position: absolute;
  top: 1135px;
  width: 1125px;
}

.wiki .line-19-m7Ligx {
  background-color: transparent;
  height: 1px;
  left: -8249px;
  position: absolute;
  top: -7925px;
  width: 617px;
}

.wiki .spacer-_-3-hxTmnV {
  background-color: transparent;
  height: 40px;
  left: 299px;
  overflow: hidden;
  position: absolute;
  top: 947px;
  width: 1125px;
}

.wiki .line-19-fbGe9Z {
  background-color: transparent;
  height: 1px;
  left: -8249px;
  position: absolute;
  top: -7985px;
  width: 617px;
}

.wiki .spacer-_-2-hxTmnV {
  background-color: transparent;
  height: 40px;
  left: 299px;
  overflow: hidden;
  position: absolute;
  top: 699px;
  width: 1125px;
}

.wiki .line-20-EuwNur {
  background-color: transparent;
  height: 1px;
  left: -8249px;
  position: absolute;
  top: -7489px;
  width: 617px;
}

.wiki .spacer-_-1-hxTmnV {
  background-color: transparent;
  height: 40px;
  left: 299px;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 1125px;
}

.wiki .line-18-OhmJkr {
  background-color: transparent;
  height: 1px;
  left: -8249px;
  position: absolute;
  top: -6159px;
  width: 617px;
}

.wiki .img_20220726_123006-1-hxTmnV {
  background-color: transparent;
  height: 335px;
  left: 53px;
  mix-blend-mode: screen;
  position: fixed;
  top: 503px;
  width: 565px;
}

.wiki .wiki-hxTmnV {
  background-color: transparent;
  height: auto;
  left: 102px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: fixed;
  text-align: left;
  top: 112px;
  width: auto;
}

.wiki .frame-3-O0j6Jf {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: min-content;
  left: 102px;
  position: fixed;
  top: 249px;
  width: min-content;
}

.wiki .how-to-use-external-data-ACWp5f {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 393px;
}

.wiki .what-rights-are-guaranteed-by-ia-ACWp5f {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 393px;
}

.wiki .mimicrys-commitment-to-open-source-ACWp5f {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 393px;
}

.wiki .how-does-ia-ensure-scarcity-ACWp5f {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 393px;
}

.wiki .what-security-does-ia-provide-ACWp5f {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 393px;
}

.wiki .header-hxTmnV {
  align-items: center;
  background-color: var(--white);
  box-shadow: 4px 6px 4px #0000004c;
  display: flex;
  height: 76px;
  justify-content: space-between;
  left: 0px;
  mix-blend-mode: normal;
  padding: 12px 27px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.wiki .header-links-asOZVt {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 44px;
  position: relative;
  width: 785px;
}

.wiki .mimicry-GbhIAN {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 144px;
}

.wiki .infinite-animation-GbhIAN {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 167px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .nft-GbhIAN {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 43px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .featured-art-GbhIAN {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .blog-GbhIAN {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 44px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .wiki-GbhIAN {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki .draw_button-asOZVt {
  align-items: center;
  align-self: stretch;
  background-color: var(--moon-raker);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  mix-blend-mode: darken;
  padding: 10px 50px;
  position: relative;
  width: 168px;
}

.wiki .draw-aR1zNd {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}
