/* screen - wiki2 */

.wiki2 {
  background-color: var(--black);
  height: 1806px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.wiki2 .background-CLVtXN {
  background-color: transparent;
  height: 1806px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.wiki2 .img_20220726_123006-1-CLVtXN {
  background-color: transparent;
  height: 335px;
  left: 35px;
  mix-blend-mode: screen;
  position: absolute;
  top: 283px;
  width: 565px;
}

.wiki2 .footer-CLVtXN {
  background-color: transparent;
  height: 278px;
  left: 0px;
  position: absolute;
  top: 1528px;
  width: 1920px;
}

.wiki2 .footer-bLxUT0 {
  background: linear-gradient(180deg, rgba(5.020313411951065, 13.124544192105532, 86.06250151991844, 0.6800000071525574) 42.1875%, rgb(51.70390158891678, 70.86473822593689, 243.31249594688416) 90.625%);
  background-color: transparent;
  height: 184px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 94px;
  width: 1920px;
}

.wiki2 .frame-1-NXMxJK {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 106px;
  height: min-content;
  justify-content: center;
  left: 498px;
  position: relative;
  top: 10px;
  width: min-content;
}

.wiki2 .art-kly18l {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.wiki2 .use-mimicry-MWb0wB {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 36px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.wiki2 .featured-art-MWb0wB {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 91px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .artist-spotlight-MWb0wB {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 111px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .external-connections-MWb0wB {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 155px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .art-in-the-news-MWb0wB {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 115px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .use-mimicry-kly18l {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.wiki2 .use-mimicry-9vhoqC {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 100px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.wiki2 .draw-with-mimicry-9vhoqC {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 162px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .importing-external-data-9vhoqC {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 175px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .mimicry-functions-9vhoqC {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 152px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .generating-nf-ts-9vhoqC {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 125px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .use-mimicry-O7fkcw {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.wiki2 .use-mimicry-tGh12h {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 119px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.wiki2 .understanding-persistence-tGh12h {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 191px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .code-docs-tGh12h {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 79px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .best-practices-tGh12h {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 101px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .code-examples-tGh12h {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 113px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .general-kly18l {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: min-content;
  position: relative;
  width: min-content;
}

.wiki2 .general-njlWeZ {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.wiki2 .about-us-njlWeZ {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .road-map-njlWeZ {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 76px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .careers-njlWeZ {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 55px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .blog-njlWeZ {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 35px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .community_links-bLxUT0 {
  background-color: var(--gulf-blue);
  box-shadow: inset 0px 0px 4px 5px #ffffff99;
  height: 94px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.wiki2 .frame-1-qCJvmQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 120px;
  height: min-content;
  justify-content: center;
  left: 473px;
  position: relative;
  top: 21px;
  width: min-content;
}

.wiki2 .twitter-AzB5Tp {
  background-color: transparent;
  height: 41px;
  min-width: 147px;
  position: relative;
}

.wiki2 .image-1-ukHLXu {
  background-color: transparent;
  height: 41px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 40px;
}

.wiki2 .twitter-ukHLXu {
  background-color: transparent;
  height: 24px;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 122px;
}

.wiki2 .reddit-AzB5Tp {
  background-color: transparent;
  height: 42px;
  min-width: 150px;
  position: relative;
}

.wiki2 .reddit-3b8GXw {
  background-color: transparent;
  height: 24px;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.wiki2 .image-2-3b8GXw {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 41px;
}

.wiki2 .github-AzB5Tp {
  background-color: transparent;
  height: 46px;
  min-width: 157px;
  position: relative;
}

.wiki2 .github-grIU5g {
  background-color: transparent;
  height: 24px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.wiki2 .image-3-grIU5g {
  background-color: transparent;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 51px;
}

.wiki2 .telegram-AzB5Tp {
  background-color: transparent;
  height: 42px;
  margin-right: -2px;
  min-width: 168px;
  position: relative;
}

.wiki2 .telegram-wpxl5x {
  background-color: transparent;
  height: 24px;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
}

.wiki2 .image-4-wpxl5x {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 54px;
}

.wiki2 .main-CLVtXN {
  background-color: transparent;
  height: 1452px;
  left: 413px;
  overflow: hidden;
  position: absolute;
  top: 76px;
  width: 1507px;
}

.wiki2 .external-data-IqPuJD {
  background-color: transparent;
  height: 498px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 1449px;
}

.wiki2 .while-not-required-t-4dJN8T {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 1445px;
}

.wiki2 .importing-external-data-4dJN8T {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.wiki2 .rights-IqPuJD {
  background-color: transparent;
  height: 206px;
  left: 0px;
  position: absolute;
  top: 605px;
  width: 1445px;
}

.wiki2 .we-are-big-believers-9Ud3i2 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 1441px;
}

.wiki2 .rights-9Ud3i2 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.wiki2 .open-source-IqPuJD {
  background-color: transparent;
  height: 105px;
  left: 0px;
  position: absolute;
  top: 866px;
  width: 1428px;
}

.wiki2 .we-intend-to-open-so-JzWm2F {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 1424px;
}

.wiki2 .open-source-JzWm2F {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.wiki2 .ensuring-scarcity-IqPuJD {
  background-color: transparent;
  height: 160px;
  left: 0px;
  position: absolute;
  top: 1036px;
  width: 1428px;
}

.wiki2 .our-product-protects-c2CzXE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 56px;
  width: 1424px;
}

.wiki2 .ensuring-scarcity-c2CzXE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.wiki2 .security-IqPuJD {
  background-color: transparent;
  height: 81px;
  left: 0px;
  position: absolute;
  top: 1263px;
  width: 1440px;
}

.wiki2 .individual-tokens-ar-NAjOZ3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: 1436px;
}

.wiki2 .security-NAjOZ3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.wiki2 .runner-CLVtXN {
  background-color: transparent;
  height: 1452px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 76px;
  width: 413px;
}

.wiki2 .wiki-MBH9EG {
  background-color: transparent;
  height: auto;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.wiki2 .frame-3-MBH9EG {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: min-content;
  left: 50px;
  position: absolute;
  top: 138px;
  width: 339px;
}

.wiki2 .how-to-use-external-data-hfvxAn {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -54px;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 393px;
}

.wiki2 .what-rights-are-guaranteed-by-ia-hfvxAn {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -54px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 393px;
}

.wiki2 .mimicrys-commitment-to-open-source-hfvxAn {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -54px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 393px;
}

.wiki2 .how-does-ia-ensure-scarcity-hfvxAn {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -54px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 393px;
}

.wiki2 .what-security-does-ia-provide-hfvxAn {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -54px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 393px;
}

.wiki2 .spacer-_-10-CLVtXN {
  background-color: transparent;
  height: 40px;
  left: 431px;
  overflow: hidden;
  position: absolute;
  top: 1253px;
  width: 225px;
}

.wiki2 .line-19-SAAxhq {
  background-color: transparent;
  height: 1px;
  left: -8412px;
  position: absolute;
  top: -8296px;
  width: 617px;
}

.wiki2 .spacer-_-9-CLVtXN {
  background-color: transparent;
  height: 40px;
  left: 440px;
  overflow: hidden;
  position: absolute;
  top: 1046px;
  width: 225px;
}

.wiki2 .line-19-c58r3r {
  background-color: transparent;
  height: 1px;
  left: -8421px;
  position: absolute;
  top: -8089px;
  width: 617px;
}

.wiki2 .spacer-_-8-CLVtXN {
  background-color: transparent;
  height: 40px;
  left: 430px;
  overflow: hidden;
  position: absolute;
  top: 856px;
  width: 225px;
}

.wiki2 .line-19-NLgz5y {
  background-color: transparent;
  height: 1px;
  left: -8411px;
  position: absolute;
  top: -7899px;
  width: 617px;
}

.wiki2 .spacer-_-7-CLVtXN {
  background-color: transparent;
  height: 40px;
  left: 420px;
  overflow: hidden;
  position: absolute;
  top: 575px;
  width: 225px;
}

.wiki2 .line-19-Ha6rD6 {
  background-color: transparent;
  height: 1px;
  left: -8401px;
  position: absolute;
  top: -7618px;
  width: 617px;
}

.wiki2 .spacer-_-6-CLVtXN {
  background-color: transparent;
  height: 40px;
  left: 430px;
  overflow: hidden;
  position: absolute;
  top: 33px;
  width: 225px;
}

.wiki2 .line-19-hOoXYC {
  background-color: transparent;
  height: 1px;
  left: -8411px;
  position: absolute;
  top: -7076px;
  width: 617px;
}

.wiki2 .header-CLVtXN {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 4px 6px 4px #0000004c;
  display: flex;
  gap: 84px;
  height: min-content;
  left: 0px;
  mix-blend-mode: normal;
  padding: 12px 27px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.wiki2 .header-links-3G1i69 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 44px;
  height: 52px;
  position: relative;
  width: 785px;
}

.wiki2 .mimicry-X2tScx {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  width: 144px;
}

.wiki2 .infinite-animation-X2tScx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 167px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .nft-X2tScx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 43px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .featured-art-X2tScx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 114px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .blog-X2tScx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 44px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .wiki-X2tScx {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: normal;
  min-width: 53px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .text-3G1i69 {
  background-color: transparent;
  flex: 1;
  height: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}

.wiki2 .draw_button-3G1i69 {
  align-items: center;
  background-color: var(--moon-raker);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 10px;
  height: 52px;
  justify-content: flex-end;
  mix-blend-mode: darken;
  padding: 10px 50px;
  position: relative;
  width: 168px;
}

.wiki2 .draw-noR4zK {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1px;
  min-width: 68px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
}
